<h2>About me.</h2>
<p>When I was growing up, I wanted to be a rock star, like many other kids dream of being. I wanted to tour the world and play guitar, and music was the only thing that mattered to me. That was before I had Internet access because as soon as I did, I found my love of technology instead.</p>
	<p>Now I aim to be a different kind of rock star - in web design, of course. My passion is coding and creating lightweight, minimalistic designs. I love modernism and flat design! I guess that's why I love my Windows 8 even though it's not a Mac. :)</p>
	<p>In my spare time, I love <a href="http://www.carolinawaterfowlrescue.com/" target="new">herding birds</a> (no, seriously...I herd birds), dancing (whether we're talking waltz, tango, or choreography to the latest Lady Gaga song), and creative writing. Oh, and <a href="http://www.elevatelifestyle.com/magazine/v/a-skylit-drive/" target="_new">I interview rock stars in my down time.</a></p>
	</div>
		<div class="row text-center">
	<a href="assets/Sarah-Hudson-Resume.pdf"><button class="btn btn-info">Resume</button></a>
	</div>