<h2>Contact me.</h2>
	<p>Whether you have a question, a critique, or want to hire me for work, feel free to contact me! I haven't coded the action for the form yet, so in the meantime, please contact <a href="mailto:sarah@sarah-hudson.com">via email at sarah@sarah-hudson.com</a></p>
	
	<form class="text-center">
		<fieldset>
			Name: <br /><input type="text" name="name" id="name" placeholder="John Doe" required="required" class="input-lg" /><br />
			Email:<br /> <input type="text" name="email" id="email" placeholder="john.doe@email.com" required="required" class="input-lg" /><br />
			Comments: <br /> <textarea name="comments" id="comments" placeholder="Enter your comments..." required="required" class="input-lg" /></textarea>
		</fieldset>
		<input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info construction" />
		
		<p class="msg">Sorry! I haven't coded the action yet! Contact me <a href="mailto:sarah@sarah-hudson.com">via email at sarah@sarah-hudson.com</a></p>
	</form>
