<p class="text-center">If you asked me what my favorite projects were, I’d tell you I love getting my hands dirty with code, creating magazines from start to finish, and conducting interviews with my favorite rock stars (I moonlight as a journalist)!</p>
	<div class="row text-center">
		<a href="about.html"><button class="btn btn-info">About me</button></a>
	</div>
	
	<div class="row">
		<h1>Featured Projects</h1>
		<p>My portfolio site is still under construction, but while I finish up, feel free to glance over my featured projects!</p>
	</div>
	<div class="row">
		
		<div class="col-md-4">
			<div class="thumbnail">
				<a href="http://www.holcombeorganics.com/" target="_new"><img src="assets/MHC-mockup-home.jpg" alt="Holcombe Organics" /></a>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="thumbnail">
				<a href="http://dtel.myshopify.com/" target="_new"><img src="assets/DTel-mockup-home.jpg" alt="DTel Telecommunications" /></a>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="assets/flygirl-mockup-home.jpg" alt="FlyGirl" />
			</div>
		</div>
		
		
	</div>

	<div class="row">
			&nbsp;
		</div>
		
	<div class="row">
		
		<div class="col-md-4">
			<div class="thumbnail">
				<a href="http://www.klaspet.com" target="_new"><img src="assets/klaspet-mockup-home.jpg" alt="Klaspet" /></a>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="assets/cck-mockup-home.jpg" alt="Carolina Commercial Kitchen" />
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="assets/Inventors-Digest-probono.jpg" alt="Inventor's Digest Probono" />
			</div>
		</div>
		

		
	<div class="row text-center">
		<button class="btn btn-info construction">View More</button>
		<p class="msg">This section is still under construction!</p>
	</div>
</div>

	<div class="row">
	<h1>Categories</h1>
	<p class="text-center">You might wonder what projects I’ve worked on. Well, with a background in product development, a little bit of everything, from jewelry accessories to Little Idea’s “The Elk” project for the Democratic National Convention. More recently, I’ve worked on Rails-based applications for the web - check them out!</p>
	</div>
	<br />
	<div class="row">
	
		<div class="col-md-2">
		</div>
	
		<div class="col-md-3">
			<div class="categories text-center" id="web">
				<img src="assets/mac.png" alt="Web"/>
			</div>
			<h2>Web.</h2>
		</div>
		
				<div class="col-md-3">
			<div class="overlay">
			<div class="categories text-center" id="design">
				<img src="assets/news.png" alt="Graphic Design"/>
			</div>
			</div> <!--overlay-->
			<h2>Design.</h2>
		</div>
		
				<div class="col-md-3">
			<div class="categories text-center" id="writing">
				<img src="assets/pen.png" alt="Writing"/>
			</div>
			<h2>Articles.</h2>
		</div>
		
		<div class="col-md-1">
		</div>
	</div>
		